/*Rotation chart*/
.rot {
  height: 542px;
  padding: 0 20px;
  position: relative; }
  .rot #box {
    position: relative;
    width: 100%;
    height: 542px;
    left: 0;
    top: 0; }
    .rot #box img {
      position: absolute;
      width: 100%;
      height: 542px; }
    .rot #box #imgId1 {
      opacity: 1;
      filter: alpha(opacity=100); }
    .rot #box #imgId2, .rot #box #imgId3, .rot #box #imgId4, .rot #box #imgId5 {
      opacity: 0;
      filter: alpha(opacity=0); }
    .rot #box ul {
      position: absolute;
      right: 20px;
      bottom: 10px;
      height: 40px; }
    .rot #box ul li {
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      color: white;
      font-size: 26px; }
    .rot #box #left, .rot #box #right {
      position: absolute;
      font-size: 20px;
      width: 30px;
      height: 30px;
      text-align: center;
      cursor: pointer; }
    .rot #box #left {
      left: 0;
      top: 50%; }
    .rot #box #right {
      right: 0;
      top: 50%; }

/*section-one*/
.section-one {
  height: 703px;
  padding: 0 20px;
  margin-top: 38px; }
  .section-one .one {
    width: 410px;
    height: 703px;
    float: left;
    margin-right: 39px; }
    .section-one .one .span-one {
      width: 410px;
      float: left;
      height: 272px;
      text-align: center;
      background: #f6f6f6; }
      .section-one .one .span-one .titleF {
        font-size: 24px;
        color: black;
        display: block;
        margin-top: 37px;
        font-weight: 900;
        line-height: 60px; }
      .section-one .one .span-one hr {
        width: 20px;
        text-align: center;
        color: #777;
        margin-left: 194px;
        margin-bottom: 15px; }
      .section-one .one .span-one .uls li {
        list-style: none;
        line-height: 42px; }
        .section-one .one .span-one .uls li a {
          color: black;
          font-size: 12px; }
    .section-one .one img {
      border: 1px solid #e0e0e0;
      margin-top: 38px;
      width: 410px; }
    .section-one .one .one-bottom {
      width: 410px;
      height: 57px; }
      .section-one .one .one-bottom .tit {
        float: left;
        font-size: 12px;
        font-weight: 100;
        line-height: 57px; }
      .section-one .one .one-bottom #La {
        color: black;
        line-height: 20px; }
        .section-one .one .one-bottom #La h4 {
          font-weight: 100; }
      .section-one .one .one-bottom .btn {
        float: right;
        background: black;
        width: 66px;
        height: 32px;
        border: none;
        color: white;
        text-align: center;
        font-size: 12px;
        line-height: 32px;
        margin-top: 20px; }
  .section-one .two {
    width: 410px;
    float: left;
    margin-right: 39px; }
    .section-one .two img {
      width: 410px; }
    .section-one .two .p1 {
      width: 410px;
      color: black; }
      .section-one .two .p1 a {
        color: black;
        font-size: 12px;
        display: block;
        line-height: 24px;
        margin-top: 16px; }
    .section-one .two .push-title {
      width: 410px;
      color: black;
      font-size: 18px;
      line-height: 28px; }
  .section-one .three {
    width: 410px;
    float: left; }
    .section-one .three img {
      width: 410px; }
    .section-one .three .p1 {
      width: 410px;
      color: black; }
      .section-one .three .p1 a {
        color: black;
        font-size: 12px;
        display: block;
        line-height: 24px;
        margin-top: 16px; }
    .section-one .three .push-title {
      width: 410px;
      color: black;
      font-size: 18px;
      line-height: 28px; }

/*section-two*/
.second {
  margin-top: 0; }

/*section-three*/
.third {
  margin-top: 0;
  height: 300px;
  padding-bottom: 80px;
  border-bottom: 1px solid #e0e0e0; }
  .third .one-first {
    height: 272px; }
    .third .one-first .fone {
      height: 340px; }

/*section-forth*/
.forth {
  margin-top: 40px;
  border-bottom: none;
  overflow: hidden;
  marign-bottom: 40px; }
  .forth .imags {
    width: 410px;
    height: 40px;
    margin-bottom: 20px; }
    .forth .imags .imgf {
      width: 195px;
      height: 40px; }
    .forth .imags .imgs {
      width: 309px;
      height: 40px; }
    .forth .imags .imgt {
      width: 166px;
      height: 40px; }
