
*{
	margin:0;
	padding:0;
}
ul ol{
	list-style:none;
}
a{
	 text-decoration: none ;
}
html body{
	width:100%;
	height:100%;
}

/*head-nav*/

header{
	width:100%;
	height:52px;
	background:black;

	a{
		color:white;
		font-size:12px;
		line-height:52px;
		float:left;

	}

	.header-one{
		float:left;
		a{
			padding:0 11px;
			


			.icon-home{
				font-size:16px;
				display:inline-block;
				padding:0 15px;
				}
			
		}
			
		
	}
	.header-two{
		float:right;
		a{
		margin-right:20px;
		}
	}

}

/*logo-banner*/

.banner{
	width:100%;
	height:80px;
	img{
	padding-left:10%;
	}
	.seach{
		float:right;
		width:155px;
		height:39px;
		margin-top:20px;
		margin-right:4px;
		border:1px solid #e0e0e0;
		input{
		border:none;
		float:left;
		width:130px;
		height:39px;
		}
		i{
		float:left;
		font-size:20px;
		line-height:39px;
		}
	}
}

/*Rotation chart*/

.rot{
	height:542px;
	padding:0 20px;
	position: relative;
		#box{
			position: relative;
			width:100%;
			height:542px;
			left:0;
			top:0;

			img{
			position: absolute;
			width:100%;
			height:542px;
		}
			#imgId1{
				opacity: 1;
				filter: alpha(opacity=100);
			}
			#imgId2,#imgId3,#imgId4,#imgId5{
				opacity: 0;
				filter: alpha(opacity=0);
			}

			ul{
			position: absolute;
			right: 20px;
			bottom:10px;
			height: 40px;
		}
		ul li{
			float: left;
			margin-left: 10px;
			margin-top: 10px;
			color:white;
			font-size:26px;
		}

			#left,#right{
			position:absolute;
			font-size: 20px;
			width:30px;
			height: 30px;
			text-align: center;
			cursor: pointer;
		}

		#left{
			left:0;
			top:50%;
		}
		#right{
			right:0;
			top:50%;
		}
		}
}

/*section-one*/

.section-one{
	height:703px;
	padding:0 20px;
	margin-top:38px;

	.one{
		 width:410px;
		height:703px;
		float:left;
		margin-right:39px;
		
		.span-one{
			 width:410px;
			 float:left;
			height:272px;
			text-align:center;
			background:#f6f6f6;

				.titleF{
				  font-size:24px;
				  color:black;
				  display:block;
				  margin-top:37px;
				  font-weight:900;
				  line-height:60px;
	  		}
	  		hr{
	  		width:20px;
	  		text-align:center;
	  		color:#777;
	  		 margin-left: 194px;
	  		 margin-bottom:15px;
	  		}

	  		.uls{

	  			li{
	  			list-style:none;
	  			line-height:42px;

	  			a{

	  			color:black;
	  			font-size:12px;
	  			}

	  			}

	  		}
		}
		img{
			border:1px solid #e0e0e0;
			margin-top:38px;
			width:410px;
		}
		.one-bottom{
			 width:410px;
			 height:57px;
			
			 .tit{
			 float:left;
			 font-size:12px;
			 font-weight:100;
			 line-height:57px;
			 }
			 #La{
			 color:black;
			 line-height:20px;
			  h4{
			  font-weight:100;
			  }
			 }

			 .btn{
			float:right;
			 background:black;
			 width:66px;
			 height:32px;
			 border:none;
			color:white;
			text-align:center;
			font-size:12px;
			line-height:32px;
			margin-top: 20px;
			 }
		}
	  
	}

	.two{
		width:410px;
		float:left;
		margin-right:39px;
		img{
		width:410px;
		}
		.p1{
			width:410px;
			color:black;
				  a{
				  color:black;
				  font-size:12px;
				  display:block;
				  line-height:24px;
				  margin-top:16px;
				  }
				  
		}
		.push-title{
					width:410px;
					color:black;
				  font-size:18px;
				   line-height:28px;
				  }
	}
	.three{
		width:410px;
		float:left;
		img{
		width:410px;
		}
		.p1{
			width:410px;
			color:black;
				  a{
				  color:black;
				  font-size:12px;
				  display:block;
				  line-height:24px;
				  margin-top:16px;
				  }
				  
		}
		.push-title{
					width:410px;
					color:black;
				  font-size:18px;
				   line-height:28px;
				  }
	}
}

/*section-two*/

.second{
	margin-top:0;
}

/*section-three*/

.third{
	margin-top:0;
	height: 300px;
    padding-bottom: 80px;
    border-bottom: 1px solid #e0e0e0;
	.one-first{
		height:272px;
		.fone{
		height:340px;
		}
	}
}

/*section-forth*/

.forth{
	margin-top:40px;
	border-bottom: none;
	height:250px;
	
}

/*footer*/

footer{
	width:100%;
	background:#f6f6f6;
	.foot{
	padding:30px 224px;

		.f-left{
			width:30%;
			float:left;
			padding-bottom:20px;
			a{
			display:block;
			line-height:60px;
			color:black;

			}

			.LinkA .LinkC{
				font-size:14px;
			}
			.LinkB{
				font-size:12px;
			}

			.country{
				width:271px;
				height:38px;
				border:1px solid #e0e0e0;
				background:white;
				.icon-suo2{
					display:inline-block;
					padding-left:15px;
				}
				input{
					width:200px;
					height:38px;
					border:none;
				}
				span{
				transform:rotate(90deg);
				
				}
			}
			.nav{
				margin-top:51px;
				color:black;
				font-size:12px;
				line-height:16px;

				a{
					display:block;
					line-height:16px;
					color:black;
					font-size:12px;
				}
				img{
				width:13px;
				height:11px;
				}
				
			}

		}

		.f-middle{
			width:30%;
			float:left;
			margin-top:68px;
			padding-left:26px;
			box-sizing:border-box;

			a{
			display:block;
			line-height:36px;
			font-size:12px;
			color:black;

			}
		}

		.f-right{
			width:30%;
			float:left;
			font-size:12px;
			line-height:18px;
			.ser{
			display:block;
			line-height:60px;
			font-size:14px;
			color:black;

			}
			p{
			margin-top:20px;
			}
			.emil{
				margin-top:18px;
				width:200px;
				height:38px;
				border:1px solid #e0e0e0;
				float:left;
				background:white;
				.icon-youxiang1{
					display:inline-block;
					padding-left:15px;
					font-size:18px;
				}
				#tit{
					width:160px;
					height:38px;
					border:none;
				}
				
			}
			#btn{
					width:66px;
					height:40px;
					float:left;
					margin-top: 18px;
					background:#9a9a9a;
					color:white;
					border:none;
				}
			span{
				margin-top: 37px;
				line-height:54px;
				font-size:16px;
			}
			b{
				width:38px;
				height:38px;
				font-weight:100;
				border-radius:50%;
				display:block;
				border:2px solid #e4e4e4;
				text-align:center;
				line-height:38px;
			}
		}
	}

}